.react-datepicker-wrapper {
    display: block !important;
}

.superFancyBlockquote {
    color: #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
}

.wrapper-class {
    border: 1px solid #ced4da;
    border-radius: 2px;
}

.wrapper-editor {
    padding: 10px;
}