body {
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.9 !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 300 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.btn-primary {
  color: #fff !important;
  background-color: #35bdb2 !important;
  border-color: #35bdb2 !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #35bdb240 !important;
  border-color: #35bdb2 !important;
}
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #35bdb240 !important;
}